In [1]:
import pandas as pd
import altair as alt

**Import data. Kept getting error messages when using the google drive link to import so just imported it locally**

In [2]:
sandiego = pd.read_csv("/Users/theresaohaya/Downloads/sandiego.csv")

In [3]:
sandiego.head()

,service_request_id,service_request_parent_id,sap_notification_number,date_requested,case_age_days,case_record_type,service_name,service_name_detail,date_closed,status,...,zipcode,council_district,comm_plan_code,comm_plan_name,park_name,case_origin,referred,iamfloc,floc,public_description
0,100763,NaN,4.030001e+10,2016-08-20T14:46:00,3070,TSW,Street Sweeping,NaN,NaN,In Process,...,NaN,9.0,56.0,Mid-City:City Heights,NaN,Web,NaN,SS-014304,SS-001240,A) The storm drain channel south of 5135 Univ...
1,100777,NaN,4.030001e+10,2016-08-20T15:48:00,3070,TSW,Sidewalk Repair Issue,SIDEWALK MINOR REHAB CONTRACT,NaN,In Process,...,NaN,9.0,59.0,Mid-City:Normal Heights,NaN,Web,NaN,SS-000917-SE1,SS-000917,Curb in rubble
2,100985,NaN,4.030001e+10,2016-08-22T10:04:00,3068,TSW,Stormwater,DRAIN HEADWALL,NaN,In Process,...,NaN,6.0,15.0,Mira Mesa,NaN,Phone,NaN,HW01082,SS-019619,HILLSIDE ERODING - POSSIBLE BROKEN DRAIN
3,101169,NaN,4.030001e+10,2016-08-23T08:30:00,3067,TSW,Pavement Maintenance,DAMAGED CURB,NaN,In Process,...,NaN,8.0,37.0,Southeastern San Diego,NaN,Web,NaN,SS-019686-PV1,SS-019686,Large sections of curb broke off and have been...
4,101707,NaN,4.030000e+10,2016-08-25T15:01:00,3065,TSW,Pavement Maintenance,DAMAGED CURB,NaN,In Process,...,NaN,8.0,37.0,Southeastern San Diego,NaN,Web,NaN,SS-020300-PV1,SS-020300,the curb in front of 2220 Ocean View Blvd. nee...

**What service requests are most common?**

In [4]:
sandiego["service_name"].value_counts()

service_name
Sidewalk Repair Issue                      13613
Street Light Maintenance                    9265
ROW Maintenance                             7287
Pavement Maintenance                        5116
Graffiti - Code Enforcement                 3489
Vegetation Encroachment                     3364
Parking Violation                           2524
Encampment                                  2520
Stormwater                                  2457
Traffic Sign Maintenance                    2190
Parks Issue                                 1984
Development Services - Code Enforcement     1808
Other                                       1440
Tree Maintenance                            1329
Traffic Engineering                         1213
Illegal Dumping                              972
Environmental Services Code Compliance       802
Graffiti - Private                           635
Missed Collection                            625
STRO Violation                               522
Stormwater Code Enforcement                  455
Trash/Recycling Collection                   400
Street Sweeping                              339
Pothole                                      326
Graffiti - Public                            320
Street Flooded                               153
Waste on Private Property                    149
Traffic Signal Issue                         124
Weed Cleanup                                  83
Traffic Signal Timing                         82
Right-of-Way Code Enforcement                 74
Dead Animal                                   56
Oversized Vehicle                              5
Parking                                        3
Bicycle-Related Issue                          1
Container Request                              1
Shared Mobility Device                         1
Name: count, dtype: int64

In [5]:
sandiego["comm_plan_name"].value_counts()

comm_plan_name
Downtown                             3449
Uptown                               3390
North Park                           2847
Clairemont Mesa                      2829
Pacific Beach                        2325
                                     ...
East Elliott                            5
NCFUA SUBAREA II                        3
FAIRBANKS RANCH COUNTRY CLUB            3
VIA DE LA VALLE                         3
Reserve Area-Not A Community Plan       2
Name: count, Length: 115, dtype: int64

**How are people reporting these issues - through phone app, website, or phone call?**

In [6]:
sandiego["case_origin"].value_counts()

case_origin
Mobile                 44375
Web                    16927
Phone                   7909
Email                    410
GID Field                148
CC Self Generate         104
Internal                  49
Worker App                46
Self-Generated            44
Hauler List               17
Residential Patrol        10
Crew/Self Generated        4
Letter                     2
Walk-In                    1
Referral Notice            1
Referral                   1
FO Self Generate           1
999                        1
Special Events             1
Famosa Patrol              1
Name: count, dtype: int64

In [7]:
sandiego['service_name'].value_counts()

service_name
Sidewalk Repair Issue                      13613
Street Light Maintenance                    9265
ROW Maintenance                             7287
Pavement Maintenance                        5116
Graffiti - Code Enforcement                 3489
Vegetation Encroachment                     3364
Parking Violation                           2524
Encampment                                  2520
Stormwater                                  2457
Traffic Sign Maintenance                    2190
Parks Issue                                 1984
Development Services - Code Enforcement     1808
Other                                       1440
Tree Maintenance                            1329
Traffic Engineering                         1213
Illegal Dumping                              972
Environmental Services Code Compliance       802
Graffiti - Private                           635
Missed Collection                            625
STRO Violation                               522
Stormwater Code Enforcement                  455
Trash/Recycling Collection                   400
Street Sweeping                              339
Pothole                                      326
Graffiti - Public                            320
Street Flooded                               153
Waste on Private Property                    149
Traffic Signal Issue                         124
Weed Cleanup                                  83
Traffic Signal Timing                         82
Right-of-Way Code Enforcement                 74
Dead Animal                                   56
Oversized Vehicle                              5
Parking                                        3
Bicycle-Related Issue                          1
Container Request                              1
Shared Mobility Device                         1
Name: count, dtype: int64

**How many requests are from each council district?**

In [8]:
sandiego['council_district'].value_counts()

council_district
3.0    15922
2.0     9579
9.0     8980
1.0     7956
8.0     5366
7.0     4927
4.0     4332
5.0     4250
6.0     4034
Name: count, dtype: int64

**Changing the dates to a workable format and then getting just the years**

In [9]:
sandiego['date_requested'] = pd.to_datetime(sandiego['date_requested']).dt.date

In [10]:
sandiego['date_closed'] = pd.to_datetime(sandiego['date_closed']).dt.date

In [11]:
pd.to_datetime(sandiego['date_requested']).dt.year

0        2016
1        2016
2        2016
3        2016
4        2016
         ...
70065    2016
70066    2016
70067    2016
70068    2016
70069    2016
Name: date_requested, Length: 70070, dtype: int32

In [12]:
sandiego['year'] = pd.to_datetime(sandiego['date_requested']).dt.year

In [13]:
sandiego.head()

,service_request_id,service_request_parent_id,sap_notification_number,date_requested,case_age_days,case_record_type,service_name,service_name_detail,date_closed,status,...,council_district,comm_plan_code,comm_plan_name,park_name,case_origin,referred,iamfloc,floc,public_description,year
0,100763,NaN,4.030001e+10,2016-08-20,3070,TSW,Street Sweeping,NaN,NaT,In Process,...,9.0,56.0,Mid-City:City Heights,NaN,Web,NaN,SS-014304,SS-001240,A) The storm drain channel south of 5135 Univ...,2016
1,100777,NaN,4.030001e+10,2016-08-20,3070,TSW,Sidewalk Repair Issue,SIDEWALK MINOR REHAB CONTRACT,NaT,In Process,...,9.0,59.0,Mid-City:Normal Heights,NaN,Web,NaN,SS-000917-SE1,SS-000917,Curb in rubble,2016
2,100985,NaN,4.030001e+10,2016-08-22,3068,TSW,Stormwater,DRAIN HEADWALL,NaT,In Process,...,6.0,15.0,Mira Mesa,NaN,Phone,NaN,HW01082,SS-019619,HILLSIDE ERODING - POSSIBLE BROKEN DRAIN,2016
3,101169,NaN,4.030001e+10,2016-08-23,3067,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,8.0,37.0,Southeastern San Diego,NaN,Web,NaN,SS-019686-PV1,SS-019686,Large sections of curb broke off and have been...,2016
4,101707,NaN,4.030000e+10,2016-08-25,3065,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,8.0,37.0,Southeastern San Diego,NaN,Web,NaN,SS-020300-PV1,SS-020300,the curb in front of 2220 Ocean View Blvd. nee...,2016

**What year has the most open requests?**

In [14]:
sandiego['year'].value_counts()

year
2024    26788
2023    13822
2022     8063
2018     5748
2025     5242
2021     4594
2020     2832
2019     1924
2017      925
2016      132
Name: count, dtype: int64

Saving changes to file

In [15]:
sandiego.to_csv('San Diego 311 Requests.csv',index=False)

**Reading in population data to try to see how many requests per person in each district. Does district 3 just have the most requests because it has the most people?**

In [16]:
population = pd.read_csv("/Users/theresaohaya/Downloads/populationsd.csv")

In [17]:
population.head()

   sdcouncil  yr_id                  long_name  population
0        NaN   2010       Household Population     1737901
1        NaN   2010  Group Quarters - Military       29136
2        NaN   2010   Group Quarters - College         757
3        NaN   2010     Group Quarters - Other       25902
4        NaN   2011       Household Population     1759954

**Filtering the population data for total population since we don't care about college, military, or other breakdowns.**

In [18]:
district_populations = 'Household Population'

In [19]:
household_population = population[population['long_name']==district_populations]

**Filtering the population data for just the most recent year in the data set which is 2021**

In [20]:
final_year = 2021

In [21]:
final_population = household_population[household_population['yr_id']==final_year]

In [22]:
final_population.value_counts()

sdcouncil  yr_id  long_name             population
1.0        2021   Household Population  161394        1
2.0        2021   Household Population  153544        1
3.0        2021   Household Population  198555        1
4.0        2021   Household Population  126873        1
5.0        2021   Household Population  154900        1
6.0        2021   Household Population  140195        1
7.0        2021   Household Population  159828        1
8.0        2021   Household Population  129935        1
9.0        2021   Household Population  139579        1
Name: count, dtype: int64

**Save filtered population data**

In [23]:
final_population.to_csv("San Diego Council District Populations.csv",index=False)

**Renaming columns to match the request dataset**

In [24]:
bad_columns = {'yr_id':'year',
               'population':'council district population',
               'sdcouncil':'council_district'
               }

In [25]:
final_population = final_population.rename(columns=bad_columns)

In [26]:
final_population.head()

     council_district  year             long_name  council district population
44                NaN  2021  Household Population                      1854255
92                1.0  2021  Household Population                       161394
140               2.0  2021  Household Population                       153544
188               3.0  2021  Household Population                       198555
236               4.0  2021  Household Population                       126873

In [27]:
final_population.to_csv("San Diego Council District Populations.csv",index=False)

**Merging population data and request data**

In [28]:
merged_list = pd.merge(sandiego, final_population, on=['council_district','year'])

In [29]:
calls = 'Phone'

In [30]:
sandiego[sandiego['case_origin']==calls]

,service_request_id,service_request_parent_id,sap_notification_number,date_requested,case_age_days,case_record_type,service_name,service_name_detail,date_closed,status,...,council_district,comm_plan_code,comm_plan_name,park_name,case_origin,referred,iamfloc,floc,public_description,year
2,100985,NaN,4.030001e+10,2016-08-22,3068,TSW,Stormwater,DRAIN HEADWALL,NaT,In Process,...,6.0,15.0,Mira Mesa,NaN,Phone,NaN,HW01082,SS-019619,HILLSIDE ERODING - POSSIBLE BROKEN DRAIN,2016
13,104559,NaN,4.030001e+10,2016-09-09,3050,TSW,Pavement Maintenance,SURFACE FLOW ISSUE,NaT,In Process,...,1.0,10.0,La Jolla,NaN,Phone,NaN,SS-023457,SS-006534,To whom it may concern:I am writing to the wom...,2016
15,106563,NaN,4.030000e+10,2016-09-19,3040,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,2.0,30.0,Peninsula,NaN,Phone,NaN,SS-002141-PV1,SS-002141,CURB IS DAMAGED.,2016
17,107101,NaN,4.030001e+10,2016-09-21,3038,TSW,Sidewalk Repair Issue,SIDEWALK MINOR REHAB CONTRACT,NaT,In Process,...,3.0,42.0,Uptown,NaN,Phone,NaN,SS-027135-SE1,SS-027135,Sidewalk raised 2-3 inches,2016
19,107423,NaN,4.030001e+10,2016-09-22,3037,TSW,Pavement Maintenance,SURFACE FLOW ISSUE,NaT,In Process,...,2.0,14.0,Midway-Pacific Highway,NaN,Phone,NaN,SS-013429,SX-009667,BUSINESSES FLOOD EVERY YEAR. NEEDS DRAIN/SUMP ...,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70031,82982,NaN,4.030003e+10,2016-06-02,3149,TSW,Pavement Maintenance,SURFACE FLOW ISSUE,NaT,In Process,...,9.0,58.0,Mid-City:Kensington-Talmadge,NaN,Phone,NaN,SS-013560-PV1,SS-013560,PONDING WATER IN STREET AND SIDEWALK - 15/746139,2016
70032,83413,NaN,4.030003e+10,2016-06-03,3148,TSW,Stormwater,CHANNEL,NaT,In Process,...,4.0,11.0,Encanto Neighborhoods,NaN,Phone,NaN,SS-018780,54406406,DRAIN/EASEMENT FULL OF BAMBOO FROM HER PROPERT...,2016
70038,87037,NaN,4.030001e+10,2016-06-09,3142,TSW,Pavement Maintenance,SURFACE FLOW ISSUE,NaT,In Process,...,1.0,21.0,Carmel Valley,NaN,Phone,NaN,SS-023992-PV1,SS-023992,Standing water has attracted mosquitos. The c...,2016
70042,88977,NaN,4.030000e+10,2016-06-20,3131,TSW,Pavement Maintenance,CONCRETE PAVEMENT REPAIR ISSUE,NaT,In Process,...,2.0,6.0,Clairemont Mesa,NaN,Phone,NaN,SS-034417-PV1,SA-001668,LARGE POT HOLE IN ALLEY,2016
70061,96129,NaN,4.030001e+10,2016-07-27,3094,TSW,Stormwater,DRAINAGE DITCH,NaT,In Process,...,8.0,25.0,Otay Mesa-Nestor,NaN,Phone,NaN,DT00027,SS-004188-PV1,CHANNEL IS FULL OF DEBRIS AND OVERGROWN TREES ...,2016

**I found out that not all of the cells in the data had information about the council districts that they came from. Those aren't important to me at this point since I'm trying to figure out which council districts had the most requests per person. I'm trying to filter those empty rows out**

In [31]:
empty = ''

In [32]:
sandiego[sandiego['council_district']==empty]

Empty DataFrame
Columns: [service_request_id, service_request_parent_id, sap_notification_number, date_requested, case_age_days, case_record_type, service_name, service_name_detail, date_closed, status, lat, lng, street_address, zipcode, council_district, comm_plan_code, comm_plan_name, park_name, case_origin, referred, iamfloc, floc, public_description, year]
Index: []

[0 rows x 24 columns]

**Okay so you can't filter by just empty cells because python has a different code for that which is .isna()**

In [33]:
empty_council = sandiego[sandiego['council_district'].isna()]

In [34]:
merged_list

,service_request_id,service_request_parent_id,sap_notification_number,date_requested,case_age_days,case_record_type,service_name,service_name_detail,date_closed,status,...,comm_plan_name,park_name,case_origin,referred,iamfloc,floc,public_description,year,long_name,council district population
0,3190635,3190636.0,NaN,2021-01-01,1475,TSW,Graffiti - Public,NaN,NaT,In Process,...,Downtown,NaN,Mobile,NaN,SS-005253,SS-005253,NaN,2021,Household Population,198555
1,3190636,3190635.0,NaN,2021-01-01,1475,TSW,Graffiti - Public,NaN,NaT,In Process,...,Downtown,NaN,Mobile,NaN,SS-005253,SS-005253,NaN,2021,Household Population,198555
2,3190753,NaN,4.030037e+10,2021-01-01,1475,TSW,Pavement Maintenance,SURFACE FLOW ISSUE,NaT,In Process,...,Midway-Pacific Highway,NaN,Mobile,NaN,SS-029916-PV1,SS-029916-PV1,Trench filled uneven to street surface. This f...,2021,Household Population,153544
3,3190897,2440727.0,NaN,2021-01-01,1475,TSW,Sidewalk Repair Issue,CONCRETE SIDEWALK REPAIR ISSUE,NaT,In Process,...,University,NaN,Mobile,NaN,SS-018090-SE1,SS-018090,Tree at 3086 Mercer Lane damaging sidewalk and...,2021,Household Population,140195
4,3190961,NaN,4.030037e+10,2021-01-01,1475,TSW,Stormwater,DRAIN INLET,NaT,In Process,...,Clairemont Mesa,NaN,Web,NaN,IN06859,SS-019216,The storm drain lid and concrete surround appe...,2021,Household Population,153544
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4589,3620415,NaN,4.030049e+10,2021-12-31,1111,TSW,Sidewalk Repair Issue,SIDEWALK MINOR REHAB CONTRACT,NaT,In Process,...,Carmel Valley,NaN,Mobile,NaN,SS-006454-SO1,SS-006457,Sidewalk tripping hazards in front of school -...,2021,Household Population,161394
4590,3620596,NaN,4.030050e+10,2021-12-31,1111,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,Southeastern San Diego,NaN,Mobile,NaN,SS-014833-PV1,SS-014833-PV1,Major street curb damage on 19th street near K...,2021,Household Population,129935
4591,3620604,NaN,4.030050e+10,2021-12-31,1111,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,Southeastern San Diego,NaN,Mobile,NaN,SS-000449-PV1,SS-000449-PV1,Major street curb Damage Lets get the issue re...,2021,Household Population,129935
4592,3620609,3620604.0,NaN,2021-12-31,1111,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,Southeastern San Diego,NaN,Mobile,NaN,SS-000453-PV1,SS-000453-PV1,Major Street curb damage lets have the curb re...,2021,Household Population,129935
4593,3620682,3601380.0,NaN,2021-12-31,1111,TSW,Street Light Maintenance,STREET LIGHT OUT,NaT,In Process,...,Peninsula,NaN,Web,NaN,NaN,NaN,Street light burns dim. Light is between Narci...,2021,Household Population,153544

In [35]:
sandiego

,service_request_id,service_request_parent_id,sap_notification_number,date_requested,case_age_days,case_record_type,service_name,service_name_detail,date_closed,status,...,council_district,comm_plan_code,comm_plan_name,park_name,case_origin,referred,iamfloc,floc,public_description,year
0,100763,NaN,4.030001e+10,2016-08-20,3070,TSW,Street Sweeping,NaN,NaT,In Process,...,9.0,56.0,Mid-City:City Heights,NaN,Web,NaN,SS-014304,SS-001240,A) The storm drain channel south of 5135 Univ...,2016
1,100777,NaN,4.030001e+10,2016-08-20,3070,TSW,Sidewalk Repair Issue,SIDEWALK MINOR REHAB CONTRACT,NaT,In Process,...,9.0,59.0,Mid-City:Normal Heights,NaN,Web,NaN,SS-000917-SE1,SS-000917,Curb in rubble,2016
2,100985,NaN,4.030001e+10,2016-08-22,3068,TSW,Stormwater,DRAIN HEADWALL,NaT,In Process,...,6.0,15.0,Mira Mesa,NaN,Phone,NaN,HW01082,SS-019619,HILLSIDE ERODING - POSSIBLE BROKEN DRAIN,2016
3,101169,NaN,4.030001e+10,2016-08-23,3067,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,8.0,37.0,Southeastern San Diego,NaN,Web,NaN,SS-019686-PV1,SS-019686,Large sections of curb broke off and have been...,2016
4,101707,NaN,4.030000e+10,2016-08-25,3065,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,8.0,37.0,Southeastern San Diego,NaN,Web,NaN,SS-020300-PV1,SS-020300,the curb in front of 2220 Ocean View Blvd. nee...,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70065,96860,NaN,4.030001e+10,2016-07-31,3090,TSW,Pavement Maintenance,SURFACE FLOW ISSUE,NaT,In Process,...,9.0,57.0,Mid-City:Eastern Area,NaN,Mobile,NaN,SS-024832-PV1,SS-024832,Water sits due to last work done on street. Wa...,2016
70066,97713,NaN,4.030001e+10,2016-08-04,3086,TSW,Pavement Maintenance,SURFACE FLOW ISSUE,NaT,In Process,...,9.0,38.0,College Area,NaN,Mobile,NaN,SS-018708-PV1,SS-018708,There is stagnant water puddled beside the cur...,2016
70067,98608,NaN,4.030001e+10,2016-08-09,3081,TSW,Stormwater,DRAIN OUTFALL,NaT,In Process,...,7.0,35.0,Serra Mesa,NaN,Web,NaN,OT02726,SS-018572,CMP storm drain from Meadow Lark Dr. to channe...,2016
70068,98792,91703.0,NaN,2016-08-10,3080,TSW,Sidewalk Repair Issue,Curb Maintenance,NaT,In Process,...,9.0,59.0,Mid-City:Normal Heights,NaN,Mobile,NaN,NaN,SS-000937,This was damaged when city was fixing a sink w...,2016
70069,99646,NaN,4.030000e+10,2016-08-15,3075,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,9.0,59.0,Mid-City:Normal Heights,NaN,Web,NaN,SS-017879-PV1,SS-017879,NaN,2016

In [36]:
merged_list.head()

,service_request_id,service_request_parent_id,sap_notification_number,date_requested,case_age_days,case_record_type,service_name,service_name_detail,date_closed,status,...,comm_plan_name,park_name,case_origin,referred,iamfloc,floc,public_description,year,long_name,council district population
0,3190635,3190636.0,NaN,2021-01-01,1475,TSW,Graffiti - Public,NaN,NaT,In Process,...,Downtown,NaN,Mobile,NaN,SS-005253,SS-005253,NaN,2021,Household Population,198555
1,3190636,3190635.0,NaN,2021-01-01,1475,TSW,Graffiti - Public,NaN,NaT,In Process,...,Downtown,NaN,Mobile,NaN,SS-005253,SS-005253,NaN,2021,Household Population,198555
2,3190753,NaN,4.030037e+10,2021-01-01,1475,TSW,Pavement Maintenance,SURFACE FLOW ISSUE,NaT,In Process,...,Midway-Pacific Highway,NaN,Mobile,NaN,SS-029916-PV1,SS-029916-PV1,Trench filled uneven to street surface. This f...,2021,Household Population,153544
3,3190897,2440727.0,NaN,2021-01-01,1475,TSW,Sidewalk Repair Issue,CONCRETE SIDEWALK REPAIR ISSUE,NaT,In Process,...,University,NaN,Mobile,NaN,SS-018090-SE1,SS-018090,Tree at 3086 Mercer Lane damaging sidewalk and...,2021,Household Population,140195
4,3190961,NaN,4.030037e+10,2021-01-01,1475,TSW,Stormwater,DRAIN INLET,NaT,In Process,...,Clairemont Mesa,NaN,Web,NaN,IN06859,SS-019216,The storm drain lid and concrete surround appe...,2021,Household Population,153544

**Ooop, merging just based on council district. Not year**

In [37]:
merged_list = pd.merge(sandiego, final_population, on=['council_district'])

In [38]:
merged_list

,service_request_id,service_request_parent_id,sap_notification_number,date_requested,case_age_days,case_record_type,service_name,service_name_detail,date_closed,status,...,park_name,case_origin,referred,iamfloc,floc,public_description,year_x,year_y,long_name,council district population
0,100763,NaN,4.030001e+10,2016-08-20,3070,TSW,Street Sweeping,NaN,NaT,In Process,...,NaN,Web,NaN,SS-014304,SS-001240,A) The storm drain channel south of 5135 Univ...,2016,2021,Household Population,139579
1,100777,NaN,4.030001e+10,2016-08-20,3070,TSW,Sidewalk Repair Issue,SIDEWALK MINOR REHAB CONTRACT,NaT,In Process,...,NaN,Web,NaN,SS-000917-SE1,SS-000917,Curb in rubble,2016,2021,Household Population,139579
2,100985,NaN,4.030001e+10,2016-08-22,3068,TSW,Stormwater,DRAIN HEADWALL,NaT,In Process,...,NaN,Phone,NaN,HW01082,SS-019619,HILLSIDE ERODING - POSSIBLE BROKEN DRAIN,2016,2021,Household Population,140195
3,101169,NaN,4.030001e+10,2016-08-23,3067,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,NaN,Web,NaN,SS-019686-PV1,SS-019686,Large sections of curb broke off and have been...,2016,2021,Household Population,129935
4,101707,NaN,4.030000e+10,2016-08-25,3065,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,NaN,Web,NaN,SS-020300-PV1,SS-020300,the curb in front of 2220 Ocean View Blvd. nee...,2016,2021,Household Population,129935
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70065,96860,NaN,4.030001e+10,2016-07-31,3090,TSW,Pavement Maintenance,SURFACE FLOW ISSUE,NaT,In Process,...,NaN,Mobile,NaN,SS-024832-PV1,SS-024832,Water sits due to last work done on street. Wa...,2016,2021,Household Population,139579
70066,97713,NaN,4.030001e+10,2016-08-04,3086,TSW,Pavement Maintenance,SURFACE FLOW ISSUE,NaT,In Process,...,NaN,Mobile,NaN,SS-018708-PV1,SS-018708,There is stagnant water puddled beside the cur...,2016,2021,Household Population,139579
70067,98608,NaN,4.030001e+10,2016-08-09,3081,TSW,Stormwater,DRAIN OUTFALL,NaT,In Process,...,NaN,Web,NaN,OT02726,SS-018572,CMP storm drain from Meadow Lark Dr. to channe...,2016,2021,Household Population,159828
70068,98792,91703.0,NaN,2016-08-10,3080,TSW,Sidewalk Repair Issue,Curb Maintenance,NaT,In Process,...,NaN,Mobile,NaN,NaN,SS-000937,This was damaged when city was fixing a sink w...,2016,2021,Household Population,139579
70069,99646,NaN,4.030000e+10,2016-08-15,3075,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,NaN,Web,NaN,SS-017879-PV1,SS-017879,NaN,2016,2021,Household Population,139579

In [39]:
final_population.head(
)

     council_district  year             long_name  council district population
44                NaN  2021  Household Population                      1854255
92                1.0  2021  Household Population                       161394
140               2.0  2021  Household Population                       153544
188               3.0  2021  Household Population                       198555
236               4.0  2021  Household Population                       126873

**Dropping the year column from the population dataset. Since we know that it's 2021, we don't need to add another column to the request data**

In [40]:
final_population.drop(columns=['year'],inplace=True)

**Merging again. Third time's the charm**

In [41]:
merged_list = pd.merge(sandiego, final_population, on=['council_district'])

In [42]:
merged_list

,service_request_id,service_request_parent_id,sap_notification_number,date_requested,case_age_days,case_record_type,service_name,service_name_detail,date_closed,status,...,comm_plan_name,park_name,case_origin,referred,iamfloc,floc,public_description,year,long_name,council district population
0,100763,NaN,4.030001e+10,2016-08-20,3070,TSW,Street Sweeping,NaN,NaT,In Process,...,Mid-City:City Heights,NaN,Web,NaN,SS-014304,SS-001240,A) The storm drain channel south of 5135 Univ...,2016,Household Population,139579
1,100777,NaN,4.030001e+10,2016-08-20,3070,TSW,Sidewalk Repair Issue,SIDEWALK MINOR REHAB CONTRACT,NaT,In Process,...,Mid-City:Normal Heights,NaN,Web,NaN,SS-000917-SE1,SS-000917,Curb in rubble,2016,Household Population,139579
2,100985,NaN,4.030001e+10,2016-08-22,3068,TSW,Stormwater,DRAIN HEADWALL,NaT,In Process,...,Mira Mesa,NaN,Phone,NaN,HW01082,SS-019619,HILLSIDE ERODING - POSSIBLE BROKEN DRAIN,2016,Household Population,140195
3,101169,NaN,4.030001e+10,2016-08-23,3067,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,Southeastern San Diego,NaN,Web,NaN,SS-019686-PV1,SS-019686,Large sections of curb broke off and have been...,2016,Household Population,129935
4,101707,NaN,4.030000e+10,2016-08-25,3065,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,Southeastern San Diego,NaN,Web,NaN,SS-020300-PV1,SS-020300,the curb in front of 2220 Ocean View Blvd. nee...,2016,Household Population,129935
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70065,96860,NaN,4.030001e+10,2016-07-31,3090,TSW,Pavement Maintenance,SURFACE FLOW ISSUE,NaT,In Process,...,Mid-City:Eastern Area,NaN,Mobile,NaN,SS-024832-PV1,SS-024832,Water sits due to last work done on street. Wa...,2016,Household Population,139579
70066,97713,NaN,4.030001e+10,2016-08-04,3086,TSW,Pavement Maintenance,SURFACE FLOW ISSUE,NaT,In Process,...,College Area,NaN,Mobile,NaN,SS-018708-PV1,SS-018708,There is stagnant water puddled beside the cur...,2016,Household Population,139579
70067,98608,NaN,4.030001e+10,2016-08-09,3081,TSW,Stormwater,DRAIN OUTFALL,NaT,In Process,...,Serra Mesa,NaN,Web,NaN,OT02726,SS-018572,CMP storm drain from Meadow Lark Dr. to channe...,2016,Household Population,159828
70068,98792,91703.0,NaN,2016-08-10,3080,TSW,Sidewalk Repair Issue,Curb Maintenance,NaT,In Process,...,Mid-City:Normal Heights,NaN,Mobile,NaN,NaN,SS-000937,This was damaged when city was fixing a sink w...,2016,Household Population,139579
70069,99646,NaN,4.030000e+10,2016-08-15,3075,TSW,Pavement Maintenance,DAMAGED CURB,NaT,In Process,...,Mid-City:Normal Heights,NaN,Web,NaN,SS-017879-PV1,SS-017879,NaN,2016,Household Population,139579

**Looking at counts for council districts and making that a separate index**

In [43]:
district_counts = merged_list['council_district'].value_counts()

In [44]:
district_counts.reset_index().sort_values('council_district')

   council_district  count
3               1.0   7956
1               2.0   9579
0               3.0  15922
6               4.0   4332
7               5.0   4250
8               6.0   4034
5               7.0   4927
4               8.0   5366
2               9.0   8980

**Hmm it might be easier to merge the just the district counts and the population data**

In [45]:
merged_districts = pd.merge(district_counts, final_population, on='council_district')

In [46]:
merged_districts.head()

   council_district  count             long_name  council district population
0               3.0  15922  Household Population                       198555
1               2.0   9579  Household Population                       153544
2               9.0   8980  Household Population                       139579
3               1.0   7956  Household Population                       161394
4               8.0   5366  Household Population                       129935

In [47]:
merged_districts = merged_districts.reset_index()

In [48]:
merged_districts

,index,council_district,count,long_name,council district population
0,0,3.0,15922,Household Population,198555
1,1,2.0,9579,Household Population,153544
2,2,9.0,8980,Household Population,139579
3,3,1.0,7956,Household Population,161394
4,4,8.0,5366,Household Population,129935
5,5,7.0,4927,Household Population,159828
6,6,4.0,4332,Household Population,126873
7,7,5.0,4250,Household Population,154900
8,8,6.0,4034,Household Population,140195

**Looking at the number of reports per capita aka per person**

In [49]:
merged_districts['reports per capita'] = merged_districts['count']/merged_districts['council district population']

In [50]:
merged_districts

,index,council_district,count,long_name,council district population,reports per capita
0,0,3.0,15922,Household Population,198555,0.080189
1,1,2.0,9579,Household Population,153544,0.062386
2,2,9.0,8980,Household Population,139579,0.064336
3,3,1.0,7956,Household Population,161394,0.049296
4,4,8.0,5366,Household Population,129935,0.041298
5,5,7.0,4927,Household Population,159828,0.030827
6,6,4.0,4332,Household Population,126873,0.034144
7,7,5.0,4250,Household Population,154900,0.027437
8,8,6.0,4034,Household Population,140195,0.028774

**Okay so the fractions are really small. .08 reports per person doesn't mean anything to a normal person so I'll look at reports per 1000 people instead**

In [51]:
merged_districts['reports per capita']*1000

0    80.189368
1    62.386026
2    64.336326
3    49.295513
4    41.297572
5    30.826889
6    34.144381
7    27.437056
8    28.774207
Name: reports per capita, dtype: float64

In [52]:
merged_districts['per 1000 residents'] = merged_districts['reports per capita']*1000

In [53]:
merged_districts

,index,council_district,count,long_name,council district population,reports per capita,per 1000 residents
0,0,3.0,15922,Household Population,198555,0.080189,80.189368
1,1,2.0,9579,Household Population,153544,0.062386,62.386026
2,2,9.0,8980,Household Population,139579,0.064336,64.336326
3,3,1.0,7956,Household Population,161394,0.049296,49.295513
4,4,8.0,5366,Household Population,129935,0.041298,41.297572
5,5,7.0,4927,Household Population,159828,0.030827,30.826889
6,6,4.0,4332,Household Population,126873,0.034144,34.144381
7,7,5.0,4250,Household Population,154900,0.027437,27.437056
8,8,6.0,4034,Household Population,140195,0.028774,28.774207

**Okay let's make a chart. I'm still not sure how to sort the data by districts. I tried doing that but got an error**

In [54]:
alt.Chart(merged_districts).mark_circle().encode(
    size = 'per 1000 residents',
    y=alt.Y('council_district').sort('-size'),
    tooltip='per 1000 residents',
).properties(
    title='San Diego 311 Reports by Council District'
)

alt.Chart(...)

This is to read in the new data we got for San Diego for all the cases

In [62]:
newdata = pd.read_csv('/Users/theresaohaya/Downloads/newdatasd.csv')

/var/folders/rb/lmsn3t4135n_jby_23tg2ry40000gn/T/ipykernel_69680/2683967761.py:1: DtypeWarning: Columns (8,19,20,21,23) have mixed types. Specify dtype option on import or set low_memory=False.
  newdata = pd.read_csv('/Users/theresaohaya/Downloads/newdatasd.csv')

In [63]:
newdata.head()

,service_request_id,service_request_parent_id,sap_notification_number,date_requested,case_age_days,case_record_type,service_name,service_name_detail,date_closed,status,...,council_district,comm_plan_code,comm_plan_name,park_name,case_origin,referred,iamfloc,floc,public_description,request_date
0,100258,NaN,4.030001e+10,2016-08-18T10:02:00,2056.0,TSW,Pavement Maintenance,DAMAGED CURB,2022-04-05,Closed,...,9.0,59.0,Mid-City:Normal Heights,NaN,Web,NaN,SS-017917-PV1,SS-017917,Missing piece of the curb near corner on Meade,NaN
1,101166,NaN,4.030000e+10,2016-08-23T08:19:00,2267.0,TSW,Sidewalk Repair Issue,CONCRETE SIDEWALK REPAIR ISSUE,2022-11-07,Closed,...,2.0,18.0,Mission Beach,NaN,Mobile,NaN,SS-014490-SE1,SS-014490,This part of side walk has dropped several inc...,NaN
2,102962,NaN,4.030001e+10,2016-09-01T15:13:00,2177.0,TSW,Sidewalk Repair Issue,CONCRETE SIDEWALK REPAIR ISSUE,2022-08-18,Closed,...,5.0,29.0,Rancho Penasquitos,NaN,Mobile,NaN,SS-005369-SE1,SS-005369-PV1,Storm drain pad has sunk down and created conc...,NaN
3,107370,101166.0,NaN,2016-09-22T09:39:00,2237.0,TSW,Sidewalk Repair Issue,Sidewalk Deficiency,2022-11-07,Closed,...,2.0,18.0,Mission Beach,NaN,Mobile,NaN,NaN,SS-014490,Heaved upsidewalk.,NaN
4,113334,NaN,4.030001e+10,2016-10-21T13:40:00,2119.0,TSW,Sidewalk Repair Issue,CONCRETE SIDEWALK REPAIR ISSUE,2022-08-10,Closed,...,7.0,20.0,Navajo,NaN,Web,NaN,SS-027435-SO1,SS-027435,City Tree is overgrown in its 'spot' between t...,NaN

In [66]:
newdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259452 entries, 0 to 1259451
Data columns (total 24 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   service_request_id         1259452 non-null  int64
 1   service_request_parent_id  197474 non-null   float64
 2   sap_notification_number    174072 non-null   float64
 3   date_requested             1259452 non-null  object
 4   case_age_days              1259452 non-null  float64
 5   case_record_type           1259452 non-null  object
 6   service_name               1259286 non-null  object
 7   service_name_detail        772972 non-null   object
 8   date_closed                1210779 non-null  object
 9   status                     1259452 non-null  object
 10  lat                        1206060 non-null  float64
 11  lng                        1206060 non-null  float64
 12  street_address             1256429 non-null  object
 13  zipcode                    935652 non-null   float64
 14  council_district           1252330 non-null  float64
 15  comm_plan_code             1252065 non-null  float64
 16  comm_plan_name             1252065 non-null  object
 17  park_name                  53973 non-null    object
 18  case_origin                1259332 non-null  object
 19  referred                   97296 non-null    object
 20  iamfloc                    714257 non-null   object
 21  floc                       715437 non-null   object
 22  public_description         1076320 non-null  object
 23  request_date               48673 non-null    object
dtypes: float64(8), int64(1), object(15)
memory usage: 230.6+ MB

**How many requests are there?**

In [95]:
len(newdata)

1259452

**What are the major categories for service requests?**

In [68]:
newdata['case_record_type'].value_counts()

case_record_type
ESD Complaint/Report            426862
TSW                             397181
Parking                         183595
Neighborhood Policing           160279
Parks & Recreation               32043
TSW ROW                          27853
DSD                              11302
Storm Water Code Enforcement     10893
Traffic Engineering               9444
Name: count, dtype: int64

**This is to convert the dates into a workable format**

In [73]:
newdata['date_requested'] = pd.to_datetime(newdata['date_requested'], format='mixed').dt.date

In [75]:
newdata['year'] = pd.to_datetime(newdata['date_requested']).dt.year

**Finding out what years have the most requests**

In [77]:
newdata['year'].value_counts()

year
2023    435876
2024    418727
2022    364965
2021     30597
2020      6232
2019      1509
2018       749
2017       638
2016       159
Name: count, dtype: int64

**What service requests are most common?**

In [78]:
newdata['service_name'].value_counts()

service_name
Illegal Dumping                            209267
Encampment                                 187921
Missed Collection                          129312
Parking Violation                           96980
Parking                                     86628
Graffiti - Public                           80194
Pothole                                     60791
Street Light Maintenance                    37789
Graffiti - Code Enforcement                 34147
Other                                       31841
Parks Issue                                 24444
Sidewalk Repair Issue                       23282
Environmental Services Code Compliance      21976
Tree Maintenance                            21813
ROW Maintenance                             21164
Graffiti                                    19789
Traffic Signal Issue                        18116
Traffic Sign Maintenance                    17880
Shared Mobility Device                      17064
Dead Animal                                 13100
Traffic Signal Timing                       12834
Vegetation Encroachment                     10723
Stormwater Code Enforcement                 10507
Pavement Maintenance                         9583
Stormwater                                   8871
Traffic Engineering                          8368
Street Sweeping                              7998
Waste on Private Property                    5752
Trash/Recycling Collection                   5530
Development Services - Code Enforcement      5179
Graffiti - Private                           5068
Street Flooded                               4770
Weed Cleanup                                 4144
Right-of-Way Code Enforcement                3952
STRO Violation                               2130
Biohazard                                     361
Bicycle-Related Issue                           6
Oversized Vehicle                               4
Homeless Outreach                               4
Container Request                               3
ESD Recycling                                   1
Name: count, dtype: int64

**Hmm it's weird that there's both "Parking" and "Parking Violation" as service requests. I wonder what all the data that contains the word "Parking" look like**

In [81]:
parking = newdata[newdata['service_name'].str.contains('Parking', case=False, na=False)]

In [82]:
parking

,service_request_id,service_request_parent_id,sap_notification_number,date_requested,case_age_days,case_record_type,service_name,service_name_detail,date_closed,status,...,comm_plan_code,comm_plan_name,park_name,case_origin,referred,iamfloc,floc,public_description,request_date,year
1342,2935270,NaN,NaN,2020-04-18,676.0,Parking,Parking,72 Hour Violation,2022-02-23,Closed,...,42.0,Uptown,NaN,Mobile,NaN,NaN,NaN,Car hasn't moved in over four weeks. Looks aba...,NaN,2020
1483,2950324,NaN,NaN,2020-05-07,656.0,Parking,Parking,72 Hour Violation,2022-02-22,Closed,...,8.0,Greater Golden Hill,NaN,Mobile,NaN,NaN,NaN,Abandoned vehicle,NaN,2020
2096,3011438,2935270.0,NaN,2020-07-14,617.0,Parking,Parking,72 Hour Violation,2022-03-24,Closed,...,42.0,Uptown,NaN,Mobile,NaN,SS-023332,SS-023332,This inoperable car has parked here for months...,NaN,2020
2371,3040437,NaN,NaN,2020-08-11,561.0,Parking,Parking,72 Hour Violation,2022-02-23,Closed,...,57.0,Mid-City:Eastern Area,NaN,Web,NaN,NaN,NaN,There is a vehicle that has been parked here a...,NaN,2020
2431,3045580,NaN,NaN,2020-08-15,524.0,Parking,Parking,72 Hour Violation,2022-01-21,Closed,...,8.0,Greater Golden Hill,NaN,Mobile,NaN,SS-009681,SS-009681,"No front plate, rear plate is in window and ex...",NaN,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1259116,5055494,NaN,NaN,2024-12-31,15.0,Parking,Parking Violation,72 Hour Violation,NaN,New,...,59.0,MID-CITY:NORMAL HEIGHTS,NaN,Mobile,NaN,NaN,NaN,Car parked in street for over a week.,2024-12-31,2024
1259119,3678628,NaN,NaN,2022-02-21,1059.0,Parking,Parking Violation,AVA,NaN,In Process,...,NaN,NaN,NaN,Phone,NaN,NaN,NaN,NaN,2022-02-21,2022
1259448,4874126,NaN,NaN,2024-08-07,161.0,Parking,Parking Violation,72 Hour Violation,NaN,New,...,NaN,NaN,NaN,Phone,NaN,NaN,NaN,INOP/BUSTED FRONT AXLE,2024-08-07,2024
1259449,4882828,NaN,NaN,2024-08-13,155.0,Parking,Parking Violation,72 Hour Violation,NaN,New,...,NaN,NaN,NaN,Phone,NaN,NaN,NaN,NaN,2024-08-13,2024
1259451,5045204,NaN,NaN,2024-12-20,26.0,Parking,Parking Violation,72 Hour Violation,NaN,New,...,NaN,NaN,NaN,Phone,NaN,NaN,NaN,WRECKED,2024-12-20,2024

In [83]:
parking['service_name_detail'].value_counts()

service_name_detail
72 Hour Violation         123662
Parking Zone Violation     13610
Red Zone                    7525
Sidewalk                    5026
Alley                       4235
Lane of Traffic             3585
No Residential Permit       1888
Green/Time Limited          1734
Blue Disabled Zone          1319
Bike Lane                   1284
Fire Hydrant                1150
Passenger Zone (White)      1096
Yellow Commercial Zone       700
Timed Zone Violation          78
Parking                       26
AVA                           23
Citizen Contact                4
Parking Meter                  2
Name: count, dtype: int64

**Okay based on this I think it's safe to just rename all "parking violation" requests to "parking"**

In [84]:
newdata['service_name'] = newdata['service_name'].replace('Parking Violation', 'Parking')

**Let's make sure this worked by rerunning "service name"**

In [85]:
newdata['service_name'].value_counts()

service_name
Illegal Dumping                            209267
Encampment                                 187921
Parking                                    183608
Missed Collection                          129312
Graffiti - Public                           80194
Pothole                                     60791
Street Light Maintenance                    37789
Graffiti - Code Enforcement                 34147
Other                                       31841
Parks Issue                                 24444
Sidewalk Repair Issue                       23282
Environmental Services Code Compliance      21976
Tree Maintenance                            21813
ROW Maintenance                             21164
Graffiti                                    19789
Traffic Signal Issue                        18116
Traffic Sign Maintenance                    17880
Shared Mobility Device                      17064
Dead Animal                                 13100
Traffic Signal Timing                       12834
Vegetation Encroachment                     10723
Stormwater Code Enforcement                 10507
Pavement Maintenance                         9583
Stormwater                                   8871
Traffic Engineering                          8368
Street Sweeping                              7998
Waste on Private Property                    5752
Trash/Recycling Collection                   5530
Development Services - Code Enforcement      5179
Graffiti - Private                           5068
Street Flooded                               4770
Weed Cleanup                                 4144
Right-of-Way Code Enforcement                3952
STRO Violation                               2130
Biohazard                                     361
Bicycle-Related Issue                           6
Oversized Vehicle                               4
Homeless Outreach                               4
Container Request                               3
ESD Recycling                                   1
Name: count, dtype: int64

**Okay so I noticed the same thing with graffiti. There are 3 different categories for graffiti. Let's see if those are substantially different**

In [88]:
newdata['service_name'] = newdata['service_name'].replace('Parking Violation', 'Parking')

In [ ]:
graffiti = newdata[newdata['service_name'].str.contains('Graffiti', case=False, na=False)]

In [87]:
graffiti

,service_request_id,service_request_parent_id,sap_notification_number,date_requested,case_age_days,case_record_type,service_name,service_name_detail,date_closed,status,...,comm_plan_code,comm_plan_name,park_name,case_origin,referred,iamfloc,floc,public_description,request_date,year
1039,2889466,2888263.0,NaN,2020-02-20,719.0,TSW,Graffiti,Graffiti Removal,2022-02-08,Closed,...,24.0,Old Town San Diego,NaN,Mobile,NaN,SS-024014,SS-024014,These are Graffiti magnets and should be remov...,NaN,2020
3189,3106965,NaN,NaN,2020-10-10,472.0,TSW,Graffiti,Graffiti Removal,2022-01-25,Closed,...,29.0,Rancho Penasquitos,NaN,Mobile,NaN,SS-003185,SS-003185,Graffiti on canyon wall,NaN,2020
4529,3183925,NaN,NaN,2020-12-25,447.0,TSW,Graffiti - Code Enforcement,Graffiti Removal - Commercial,2022-03-17,Closed,...,23.0,Ocean Beach,NaN,Mobile,NaN,SS-024288,SS-024288,S,NaN,2020
4641,3192556,NaN,NaN,2021-01-03,366.0,TSW,Graffiti,Graffiti Removal,2022-01-04,Closed,...,12.0,Linda Vista,NaN,Mobile,NaN,SS-008777,SS-008777,Purple LV13\n graffiti painted on Holy Family ...,NaN,2021
4681,3194529,NaN,NaN,2021-01-05,364.0,TSW,Graffiti - Code Enforcement,Graffiti Removal - Commercial,2022-01-04,Closed,...,12.0,Linda Vista,NaN,Mobile,NaN,SS-016513,SS-016513,NaN,NaN,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1259108,5054754,NaN,NaN,2024-12-31,15.0,TSW ROW,Graffiti - Code Enforcement,Utility Box,NaN,New,...,59.0,MID-CITY:NORMAL HEIGHTS,NaN,Mobile,NaN,NaN,NaN,Graffiti,2024-12-31,2024
1259112,5055392,NaN,NaN,2024-12-31,15.0,TSW ROW,Graffiti - Code Enforcement,Commercial Property,NaN,New,...,58.0,MID-CITY:KENSINGTON-TALMADGE,NaN,Mobile,NaN,NaN,NaN,Graffiti on fencing up and down the street on ...,2024-12-31,2024
1259113,5055409,NaN,NaN,2024-12-31,15.0,TSW ROW,Graffiti - Code Enforcement,Commercial Property,NaN,New,...,56.0,MID-CITY:CITY HEIGHTS,NaN,Mobile,NaN,NaN,NaN,Graffiti,2024-12-31,2024
1259117,5055621,NaN,NaN,2024-12-31,15.0,TSW ROW,Graffiti - Code Enforcement,Commercial Property,NaN,New,...,56.0,MID-CITY:CITY HEIGHTS,NaN,Mobile,NaN,NaN,NaN,Graffiti Rosi,2024-12-31,2024
1259450,5041092,NaN,NaN,2024-12-16,30.0,TSW ROW,Graffiti - Private,NaN,NaN,New,...,10.0,LA JOLLA,NaN,Mobile,NaN,NaN,NaN,Horrible graffiti all over our beautiful coast...,2024-12-16,2024

**It doesn't look like the different categories for graffiti mean much. Going to make those into a single category for service requests**

In [91]:
newdata['service_name'] = newdata['service_name'].replace('Graffiti - Public', 'Graffiti')

In [92]:
newdata['service_name'] = newdata['service_name'].replace('Graffiti - Code Enforcement', 'Graffiti')

In [93]:
newdata['service_name'].value_counts()

service_name
Illegal Dumping                            209267
Encampment                                 187921
Parking                                    183608
Graffiti                                   134130
Missed Collection                          129312
Pothole                                     60791
Street Light Maintenance                    37789
Other                                       31841
Parks Issue                                 24444
Sidewalk Repair Issue                       23282
Environmental Services Code Compliance      21976
Tree Maintenance                            21813
ROW Maintenance                             21164
Traffic Signal Issue                        18116
Traffic Sign Maintenance                    17880
Shared Mobility Device                      17064
Dead Animal                                 13100
Traffic Signal Timing                       12834
Vegetation Encroachment                     10723
Stormwater Code Enforcement                 10507
Pavement Maintenance                         9583
Stormwater                                   8871
Traffic Engineering                          8368
Street Sweeping                              7998
Waste on Private Property                    5752
Trash/Recycling Collection                   5530
Development Services - Code Enforcement      5179
Graffiti - Private                           5068
Street Flooded                               4770
Weed Cleanup                                 4144
Right-of-Way Code Enforcement                3952
STRO Violation                               2130
Biohazard                                     361
Bicycle-Related Issue                           6
Oversized Vehicle                               4
Homeless Outreach                               4
Container Request                               3
ESD Recycling                                   1
Name: count, dtype: int64

**Okay so now we have 5 types of service requests that each have more than 100,000 requests. I think that's where I'll focus my analysis moving forward**